<div class="title_bar">
	<h1>Currently Available Posts</h1>
	<div class='new_post_link'>
		<%= link_to 'Make a New Post', new_post_path %>
	</div>
</div>

<table class="post_listing">
	<tr>
		<th>Title</th>
		<th>Text</th>
	</tr>

	<% @posts.each do |post| %>
	  <tr>
			<td class="title"><%= link_to post.title, post_path(post) %></td>
			<td class="text"><%= post.text %></td>
	  </tr>
	<% end %>
</table>